RewriteEngine on
RewriteCond %{HTTP_HOST} ^companhiadeideias.net.br$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.companhiadeideias.net.br$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]


